/*
Theme Name: COOPERFEMSA
Theme URI: http://cooperfemsa.com.br
Description: COOPERFEMSA
Author: Rodrigo Paiva & Alamo Saravali
Author URI: http://alamoweb.com.br
Description: Tema criado para o site COOPERFEMSA
Version: 1.0.0
License: Comercial
Text Domain:
*/

body {
	background-color: #F9F9F9 !important;
	font-family: Verdana;
}

/*
FIXES
*/
.clearfix {
	clear: both;
}

a.no-style, a.no-style:hover, a.no-style:active, a.no-style:focus {
	text-decoration: none;
	color: black;
}

.no-padding {
	padding: 0;
}

.no-padding-important {
	padding: 0 !important;
}

.paddingtop25px {
	padding-top: 25px;
}

.paddingtop25px-important {
	padding-top: 33px !important;
}

.paddingtop20px {
	padding-top: 20px;
}

.paddingright10px-important {
	padding-right: 10px !important;
}

.paddingtop20px-important {
	padding-top: 20px !important;
}

.padding5px {
	padding: 5px;
}

.padding3px {
	padding: 5px;
}

.padding10px {
	padding: 10px;
}

.paddingtop40px {
	padding-top: 40px;
}

.paddingtop40px-important {
	padding-top: 40px !important;
}

.no-vertical-align {
	vertical-align: baseline;
}

.list-inline, .list-inline li {
	display: inline-block;
}

.center {
	text-align: center;
}

span.prefix, span.postfix {
	height: 100%;
}

/*
MAIN MENU
*/
#main-menu {
	border: none;
}

#main-menu .divider {
	background-color: #CB1F21;
	border: none;
}

.navbar-toggle {
	background-color: #EEE;
	border-color: #CCC;
}

.navbar-toggle .icon-bar {
	/*background-color: #777;*/
	background-color: #CB1F21;
}

#main-menu li, 
#main-menu li:hover, 
#main-menu li a, 
#main-menu li a:hover,
#main-menu li a:active, 
#main-menu li a:focus {
	background-color: #CB1F21 !important;
	color: white !important;
	border: none;
}

#main-menu .nav-bar {
	height: auto;
	background-color: #FFFFFF !important;
	margin-top: 0;
}

#main-menu .nav-bar li.has-flyout a.flyout-toggle {
	padding: 0;
}

#main-menu .flyout {
	padding: 0px;
	top: 22px;
	width: 220px;
}

#main-menu .flyout-toggle, 
#main-menu .nav-bar li.has-flyout a:first-child:after {
	display: none;
}

#main-menu .flyout li, 
#main-menu .flyout li:hover, 
#main-menu .flyout li a, 
#main menu .flyout li a:hover, 
#main menu .flyout li a:focus, 
#main menu .flyout li a:active {
	background-color: #777 !important;
	border: none;
	width: 218px;
}

#main-menu,
#main-menu nav,
#main-menu ul,
#main-menu li,
#main-menu a {
	padding: 0px;
}

#main-menu li {
    padding: 0px 10px;
    margin-right: 1px;
    height: 22px;
    background-color: #CB1F21 !important;
    line-height: 22px;
    text-align: center;
    width: auto;
}

#main-menu a {
	height: 22px;
	background-color: #CB1F21 !important;
	line-height: 22px;
	text-align: center;
	width: auto;
}

#main-menu .flyout {
	background-color: transparent;
}

#main-menu .flyout,
#main-menu .flyout li {
	padding: 0 !important;
}

#main-menu ul.flyout li a, .nav-bar li ul li a {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#main-menu .flyout li a {
	width: 100%;
	padding: 0 !important;
}

#main-menu .flyout {
	border: 1px solid #FFF;
}

@media only screen and (max-width: 767px) {
	#main-menu .flyout {
		position: absolute !important;
	}
}

/*
HEADER
*/
header {
	padding: 10px 0;
}

#associe-link {
	color: #CB1F21;
	font-weight: bold;
}

#social-midia {
	padding-top: 20px;
}

#social-midia>ul, #social-midia>ul>li {
	padding: 0;
}

.right {
	float: right;
}

#bloco-acesso-redes .no-padding {
	padding: 0;
}

/*
CONTENT
*/
#wrapper {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding: 20px;
	background-color: #FFFFFF !important;
}

#content {
	margin-top: 10px;
	margin-bottom: 20px;
}

.orbit-wrapper {
    /* border: 1px solid #CCC;
    border-radius: 2px; */
}




/*
COOPERFEMSA
*/
.cooperfemsa-slider {
	/*margin-bottom: 5px;*/
}

.orbit-wrapper {
	border: 1px solid #CCC;
	border-radius: 2px;
}

.orbit-wrapper, .orbit {
	margin-bottom: 0px !important;
}

.cooperfemsa-button {
	padding: 5px 10px;
	background-color: #CB1F21;
	color: white;
}

.cooperfemsa-posts {
	margin-top: 10px;
	padding: 10px 10px !important;
	border: 1px solid #CCC;
	border-radius: 2px;
	margin-bottom: 10px;
	background: -webkit-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* Standard syntax */
}

.cooperfemsa-posts-title, .cooperfemsa-a-post-title {
	color: #CB1F21;
	font-weight: bold;
	font-size: 16px;
}

.cooperfemsa-a-post {
	margin-top: 5px;
	border: 1px solid #CCC;
	border-radius: 2px;
	min-height: 100px !important;
	background-color: #FFFFFF;
}

.cooperfemsa-call {
	margin-bottom: 10px;
	padding-top: 10px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	border: 1px solid #CCC;
	border-radius: 2px;
	height: 530px !important;
    overflow: auto;
	background: -webkit-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* Standard syntax */
}

.cooperfemsa-container {
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 2px;
	height: auto;
	background: -webkit-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* Standard syntax */
}

.cooperfemsa-plus-icon {
	position: absolute;
    bottom: 11px;
    right: 4px;
}

.cooperfemsa-a-post-thumbnail {
	float: left;
	width: 20%;
}

.cooperfemsa-a-post-thumbnail img {
	height: 100%;
}

.cooperfemsa-a-post-content {
	float: left;
	width: 80%;
	padding: 10px;
}

/*
FOOTER
*/
footer {
	padding: 10px !important;
	border: 1px solid #CCC;
	border-radius: 2px;
	background: -webkit-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom, #EEEEEE, #FFFFFF 30%); /* Standard syntax */
}

#footer-logo {
	padding-top: 70px;
}

#footer-logo span {
	color: #CB1F21;
	font-size: 20px;
}

#contact-us-form {
	padding: 10px 0;
}

#contact-us-form input {
	height: 33px;
}

#cooperfemsa-contact-message {
	height: 120px;
	resize: none;
}

#contact-us-form input[type=submit] {
	height: 33px;
	width: 100%;
	border: 1px solid #CCC;
	background-color: #FFF;
	border-radius: 2px;
}

#about .about-info {
	padding-top: 5px;
	padding-bottom: 10px;
}

#about .about-info .title {
	margin-bottom: -7px;
	color: #CB1F21;
	font-weight: bold;
}


footer small {
    font-size: 80%;
    line-height: inherit;
}

.cooperfemsa-a-parceria {
	border: 1px solid #CCC;
	border-radius: 2px;
	margin-bottom: 10px;
}
.cooperfemsa-a-parceria-link {
	float: right;
}
>>>>>>> 071622db664db8f926a87d20e0c324589dd1f891
